<?xml version="1.0" encoding="utf-8"?>
<StarAgent>
  <!--调试开关。默认true-->
  <Debug>true</Debug>
  <!--证书-->
  <Code></Code>
  <!--密钥-->
  <Secret></Secret>
  <!--本地端口。默认5500-->
  <LocalPort>5500</LocalPort>
  <!--更新通道。默认Release-->
  <Channel>Release</Channel>
  <!--延迟时间。重启进程或服务的延迟时间，默认3000ms-->
  <Delay>3000</Delay>
  <!--应用服务集合-->
  <Services>
    <ServiceInfo Name="StarServer" FileName="dotnet" Arguments="StarServer.dll" WorkingDirectory="..\server" Enable="true" AutoStart="true" MaxMemory="0" />
    <ServiceInfo Name="StarWeb" FileName="StarWeb.zip" Arguments="urls=http://*:6680" WorkingDirectory="..\web" Enable="true" AutoStart="true" MaxMemory="0" />
  </Services>
</StarAgent>