@model EntityField
@using NewLife;
@using NewLife.Cube.ViewModels
@using Stardust.Data.Deployment
@using XCode;
@using XCode.Configuration;
@{
    var entity = Model.Entity as AppBuildNode;
    var field = Model.Field;

    // var projectId = entity.Deploy?.ProjectId ?? 0;
    var projectId = -1;

    var set = NewLife.Cube.CubeSetting.Current;
    var cls = set.FormGroupClass;
    if (cls.IsNullOrEmpty()) { cls = "form-group col-xs-12 col-sm-6 col-lg-4"; }
}
<div class="@cls">
    <label class="control-label col-xs-3 col-sm-3">节点</label>
    <div class="input-group col-xs-9 col-sm-9">
        @await Html.PartialAsync("_SelectNode", new SelectNodeModel { Id = "nodeId", NodeId = entity.NodeId, ProjectId = projectId, Product = "StarDeploy" })
    </div>
</div>
