@using NewLife.Common;
@using System.Collections.Generic;
@{
    var set = ViewBag.PageSetting as PageSetting;
    var page = ViewBag.Page as Pager;
}
@if (set.EnableSelect)
{
    <button type="button" class="btn btn-success btn-sm" data-action="action" data-url="@Url.Action("FreeMemory")" data-fields="keys" disabled>
        释放内存
    </button>
    <div class="form-group">
        <label for="command" class="control-label">命令：</label>
        @Html.TextBox("command", page["command"])
        <label for="argument" class="control-label">参数：</label>
        @Html.TextBox("argument", page["argument"])
    </div>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("Execute")" data-fields="keys,command,argument">
        执行命令
    </button>
}