################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/packages
*.user
/Data
/Log
*.log
*.htm
*.nuspec
*.nupkg
/Avatars
/Stardust.WebFx/Config
/Stardust.WebFx/Content
/Stardust.WebFx/Plugins
/Stardust.Data/Config
/BinServer
/BinClient
/BinWeb
/Stardust.Data/Nodes/Config
/Stardust.Server/Properties
/Stardust.Web/Properties
/BinClient2
/Stardust.Data/Monitors/Config
/Stardust.Data/Entity/Config
/Stardust.Data/ConfigCenter/Config
/Stardust.Data/Configs/Config
/Stardust.Data/Deployment/Config
/Stardust.Data/Entity/Data
/Stardust.Data/Nodes/Data
/Stardust.Data/Configs/Data
/Stardust.Extensions/Properties
Stardust.Web.Vue/.vscode
Stardust.Web.Vue/node_modules
Stardust.Web.Vue/dist

/Stardust.Data/Platform/Config
/Stardust.Data/RedisNodes/Config
