<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\StarWeb.exe" hostingModel="inprocess" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <handlerSettings>
          <handlerSetting name="EnableShadowCopy" value="true" />
          <handlerSetting name="shadowCopyDirectory" value="../ShadowWeb/" />
        </handlerSettings>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- IIS默认请求限制28.6M字节，这里加大到500M -->
          <requestLimits maxAllowedContentLength="524288000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

</configuration>