@using Stardust.Data.Nodes;
@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;

    var dic = new Dictionary<String, String>();
    dic["OSKind"] = "OSKind";
}
<div class="form-group">
    <label for="category" class="control-label">类别：</label>
    @Html.ForDropDownList("category", dic, page["category"], "全部", true)
</div>
@await Html.PartialAsync("_DateRange")