@using Stardust.Data.Nodes;
@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
<a href="?areaId=0">全国</a>
@await Html.PartialAsync("_Area1", "")
@await Html.PartialAsync("_DateRange")