@model String
@{
    var traceId = Model;
}
<div class="text-center">
    <a href="/trace?id=@traceId">调用链</a>
    <a href="/trace?id=@traceId&layout=detail">日志详情</a>
    <a href="/graph?id=@traceId">关系图</a>
    <a href="/graph?id=@traceId&layout=circular">关系环</a>
</div>