@using NewLife.Common;
@using System.Collections.Generic;
@{
    var set = ViewBag.PageSetting as PageSetting;
    var page = ViewBag.Page as Pager;
}
@if (set.EnableSelect)
{
    <div class="form-group">
        <label for="ver" class="control-label">版本：</label>
        @Html.TextBox("ver", page["ver"])
        <label for="baseUrl" class="control-label">基地址：</label>
        @Html.TextBox("baseUrl", page["baseUrl"])
    </div>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("InstallFramework")" data-fields="keys,ver,baseUrl">
        安装框架
    </button>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("UninstallFramework")" data-fields="keys,ver,baseUrl">
        卸载框架
    </button>
}